flows.json
[
    {
        "id": "86c1cce0024c0f35",
        "type": "tab",
        "label": "Flow 1",
        "disabled": false,
        "info": "",
        "env": []
    },
    {
        "id": "ccda7495396542c2",
        "type": "mqtt-broker",
        "name": "IDPASS",
        "broker": "broker.emqx.io",
        "port": "1883",
        "tls": "a695a59681baef74",
        "clientid": "nodered-render-pm",
        "autoConnect": true,
        "usetls": false,
        "protocolVersion": "4",
        "keepalive": "60",
        "cleansession": false,
        "autoUnsubscribe": false,
        "birthTopic": "air/pms5003",
        "birthQos": "0",
        "birthRetain": "false",
        "birthPayload": "",
        "birthMsg": {},
        "closeTopic": "",
        "closeQos": "0",
        "closeRetain": "false",
        "closePayload": "",
        "closeMsg": {},
        "willTopic": "",
        "willQos": "0",
        "willRetain": "false",
        "willPayload": "",
        "willMsg": {},
        "userProps": "",
        "sessionExpiry": ""
    },
    {
        "id": "af94c5541ac7ab67",
        "type": "ui_group",
        "name": "Air Quality",
        "tab": "390f832b29e3cb21",
        "order": 1,
        "disp": true,
        "width": "6",
        "collapse": false,
        "className": ""
    },
    {
        "id": "2cfe40492fdff9da",
        "type": "ui_group",
        "name": "Details",
        "tab": "390f832b29e3cb21",
        "order": 1,
        "disp": true,
        "width": 6,
        "collapse": false,
        "className": ""
    },
    {
        "id": "390f832b29e3cb21",
        "type": "ui_tab",
        "name": "PM Monitor",
        "icon": "dashboard",
        "disabled": false,
        "hidden": false
    },
    {
        "id": "c6b6da4cf10a9553",
        "type": "global-config",
        "env": []
    },
    {
        "id": "ca2b0843ed566e37",
        "type": "ui_base",
        "theme": {
            "name": "theme-light",
            "lightTheme": {
                "default": "#0094CE",
                "baseColor": "#0094CE",
                "baseFont": "-apple-system,BlinkMacSystemFont,Segoe UI,Roboto,Oxygen-Sans,Ubuntu,Cantarell,Helvetica Neue,sans-serif",
                "edited": false
            },
            "darkTheme": {
                "default": "#097479",
                "baseColor": "#097479",
                "baseFont": "-apple-system,BlinkMacSystemFont,Segoe UI,Roboto,Oxygen-Sans,Ubuntu,Cantarell,Helvetica Neue,sans-serif",
                "edited": false
            },
            "customTheme": {
                "name": "Untitled Theme 1",
                "default": "#4B7930",
                "baseColor": "#4B7930",
                "baseFont": "-apple-system,BlinkMacSystemFont,Segoe UI,Roboto,Oxygen-Sans,Ubuntu,Cantarell,Helvetica Neue,sans-serif"
            },
            "themeState": {
                "base-color": {
                    "default": "#0094CE",
                    "value": "#0094CE",
                    "edited": false
                },
                "page-titlebar-backgroundColor": {
                    "value": "#0094CE",
                    "edited": false
                },
                "page-backgroundColor": {
                    "value": "#fafafa",
                    "edited": false
                },
                "page-sidebar-backgroundColor": {
                    "value": "#ffffff",
                    "edited": false
                },
                "group-textColor": {
                    "value": "#1bbfff",
                    "edited": false
                },
                "group-borderColor": {
                    "value": "#ffffff",
                    "edited": false
                },
                "group-backgroundColor": {
                    "value": "#ffffff",
                    "edited": false
                },
                "widget-textColor": {
                    "value": "#111111",
                    "edited": false
                },
                "widget-backgroundColor": {
                    "value": "#0094ce",
                    "edited": false
                },
                "widget-borderColor": {
                    "value": "#ffffff",
                    "edited": false
                },
                "base-font": {
                    "value": "-apple-system,BlinkMacSystemFont,Segoe UI,Roboto,Oxygen-Sans,Ubuntu,Cantarell,Helvetica Neue,sans-serif"
                }
            },
            "angularTheme": {
                "primary": "indigo",
                "accents": "blue",
                "warn": "red",
                "background": "grey",
                "palette": "light"
            }
        },
        "site": {
            "name": "Node-RED Dashboard",
            "hideToolbar": "false",
            "allowSwipe": "false",
            "lockMenu": "false",
            "allowTempTheme": "true",
            "dateFormat": "DD/MM/YYYY",
            "sizes": {
                "sx": 48,
                "sy": 48,
                "gx": 6,
                "gy": 6,
                "cx": 6,
                "cy": 6,
                "px": 0,
                "py": 0
            }
        }
    },
    {
        "id": "a695a59681baef74",
        "type": "tls-config",
        "name": "hivemq-tls",
        "cert": "",
        "key": "",
        "ca": "",
        "certname": "",
        "keyname": "",
        "caname": "",
        "servername": "",
        "verifyservercert": false,
        "alpnprotocol": ""
    },
    {
        "id": "d34524d795ea2586",
        "type": "gauth",
        "name": "Unknown"
    },
    {
        "id": "d087e1ec488e1435",
        "type": "gauth",
        "name": "Unknown"
    },
    {
        "id": "64991135615702ea",
        "type": "gauth",
        "name": "esp32-service@esp32pm25data.iam.gserviceaccount.com"
    },
    {
        "id": "207f7298c6cf4d74",
        "type": "gauth",
        "name": "Unknown"
    },
    {
        "id": "47449cdc6b79ea00",
        "type": "gauth",
        "name": "esp32-service@esp32pm25data.iam.gserviceaccount.com"
    },
    {
        "id": "2c61e574686c476a",
        "type": "gauth",
        "name": "esp32-service@esp32pm25data.iam.gserviceaccount.com"
    },
    {
        "id": "f8bd1a80d6eb3025",
        "type": "mqtt in",
        "z": "86c1cce0024c0f35",
        "name": "",
        "topic": "air/pms5003",
        "qos": "1",
        "datatype": "auto-detect",
        "broker": "ccda7495396542c2",
        "nl": false,
        "rap": true,
        "rh": 0,
        "inputs": 0,
        "x": 150,
        "y": 700,
        "wires": [
            [
                "066526f5b7e012cd"
            ]
        ]
    },
    {
        "id": "6c9be860ecdd4a01",
        "type": "function",
        "z": "86c1cce0024c0f35",
        "name": "function 1",
        "func": "// ===== อ่านค่า =====\nvar pm1  = Number(msg.payload.PM1);\nvar pm25 = Number(msg.payload.PM25);\nvar pm10 = Number(msg.payload.PM10);\n\n// ===== กรองค่าเกินจริง =====\nif (pm1 > 200 || pm25 > 200 || pm10 > 200) {\n    node.warn(\"Sensor error > 200\");\n    return null;\n}\n\n// ===== กรอง Spike =====\nvar last = context.get(\"lastPM25\");\n\nif (last !== undefined && Math.abs(pm25 - last) > 50) {\n    node.warn(\"Spike detected - rejected\");\n    return null;   // ตัดทิ้งทั้งระบบ\n}\n\ncontext.set(\"lastPM25\", pm25);\n\n// ===== ส่งออก =====\nvar chartMsgs = [\n    { topic: \"PM1\", payload: pm1 },\n    { topic: \"PM2.5\", payload: pm25 },\n    { topic: \"PM10\", payload: pm10 }\n];\n\nvar gaugeMsg = { payload: pm25 };\nvar statusMsg = { payload: pm25 };\n\n// 🔴 เพิ่ม output ที่ 4 สำหรับส่งเข้า sheet\nvar sheetMsg = {\n    payload: {\n        PM1: pm1,\n        PM25: pm25,\n        PM10: pm10\n    }\n};\n\nreturn [\n    chartMsgs,\n    gaugeMsg,\n    statusMsg,\n    sheetMsg\n];",
        "outputs": 4,
        "timeout": 0,
        "noerr": 0,
        "initialize": "",
        "finalize": "",
        "libs": [],
        "x": 580,
        "y": 700,
        "wires": [
            [],
            [
                "6001036b70836858"
            ],
            [
                "d89bb7ed9400451f",
                "1e6f40a18f1c4bc5",
                "99b2104e8511d5d6",
                "20648248bf79c6d7"
            ],
            [
                "cfcfec3e8bb9a0af"
            ]
        ]
    },
    {
        "id": "07abfef8314e8097",
        "type": "ui_template",
        "z": "86c1cce0024c0f35",
        "group": "2cfe40492fdff9da",
        "name": "",
        "order": 5,
        "width": 0,
        "height": 0,
        "format": "<div style=\"padding: 10px;\">\n    <h4 style=\"text-align:center; margin-bottom:8px;\">\n        ตารางแสดงมาตรฐานฝุ่น PM2.5\n    </h4>\n\n    <table style=\"\n        width:100%;\n        border-collapse: collapse;\n        text-align: center;\n        font-size: 14px;\n    \">\n        <tr style=\"background:#f2f2f2;\">\n            <th style=\"border:1px solid #ccc; padding:6px;\">ระดับ</th>\n            <th style=\"border:1px solid #ccc; padding:6px;\">ค่า PM2.5 (µg/m³)</th>\n            <th style=\"border:1px solid #ccc; padding:6px;\">ความหมาย</th>\n        </tr>\n\n        <tr style=\"background:#2ecc71; color:white;\">\n            <td style=\"border:1px solid #ccc;\">🟢</td>\n            <td style=\"border:1px solid #ccc;\">0 – 25</td>\n            <td style=\"border:1px solid #ccc;\">ดีมาก</td>\n        </tr>\n\n        <tr style=\"background:#f1c40f;\">\n            <td style=\"border:1px solid #ccc;\">🟡</td>\n            <td style=\"border:1px solid #ccc;\">26 – 50</td>\n            <td style=\"border:1px solid #ccc;\">ปานกลาง</td>\n        </tr>\n\n        <tr style=\"background:#e67e22; color:white;\">\n            <td style=\"border:1px solid #ccc;\">🟠</td>\n            <td style=\"border:1px solid #ccc;\">51 – 100</td>\n            <td style=\"border:1px solid #ccc;\">เริ่มมีผลกระทบต่อสุขภาพ</td>\n        </tr>\n\n        <tr style=\"background:#e74c3c; color:white;\">\n            <td style=\"border:1px solid #ccc;\">🔴</td>\n            <td style=\"border:1px solid #ccc;\">มากกว่า 100</td>\n            <td style=\"border:1px solid #ccc;\">อันตราย</td>\n        </tr>\n    </table>\n\n    <div style=\"font-size:12px; margin-top:6px; text-align:center;\">\n        อ้างอิง: แนวทางคุณภาพอากาศ WHO / กรมควบคุมมลพิษ\n    </div>\n</div>",
        "storeOutMessages": true,
        "fwdInMessages": true,
        "resendOnRefresh": true,
        "templateScope": "local",
        "className": "",
        "x": 620,
        "y": 840,
        "wires": [
            []
        ]
    },
    {
        "id": "ed7e3c56ba2740b4",
        "type": "inject",
        "z": "86c1cce0024c0f35",
        "name": "",
        "props": [
            {
                "p": "payload"
            }
        ],
        "repeat": "",
        "crontab": "00 00 * * *",
        "once": false,
        "onceDelay": 0.1,
        "topic": "",
        "payload": "reset_hourly",
        "payloadType": "str",
        "x": 720,
        "y": 420,
        "wires": [
            [
                "de82f3cc5d5aba65"
            ]
        ]
    },
    {
        "id": "6001036b70836858",
        "type": "ui_gauge",
        "z": "86c1cce0024c0f35",
        "name": "",
        "group": "af94c5541ac7ab67",
        "order": 1,
        "width": "0",
        "height": "0",
        "gtype": "gage",
        "title": "PM2.5 Realtime",
        "label": "Unit",
        "format": "{{value}} µg/m³",
        "min": 0,
        "max": "90",
        "colors": [
            "#4edf58",
            "#f3f312",
            "#ca3838"
        ],
        "seg1": "25",
        "seg2": "50",
        "diff": false,
        "className": "",
        "x": 960,
        "y": 680,
        "wires": []
    },
    {
        "id": "7a9901166c5bf714",
        "type": "ui_chart",
        "z": "86c1cce0024c0f35",
        "name": "",
        "group": "af94c5541ac7ab67",
        "order": 4,
        "width": 0,
        "height": 0,
        "label": "24H Summary",
        "chartType": "line",
        "legend": "true",
        "xformat": "HH:mm",
        "interpolate": "linear",
        "nodata": "",
        "dot": true,
        "ymin": "0",
        "ymax": "100",
        "removeOlder": "24",
        "removeOlderPoints": "",
        "removeOlderUnit": "3600",
        "cutout": 0,
        "useOneColor": false,
        "useUTC": false,
        "colors": [
            "#1f77b4",
            "#11ff00",
            "#ff7f0e",
            "#2ca02c",
            "#98df8a",
            "#d62728",
            "#ff9896",
            "#9467bd",
            "#c5b0d5"
        ],
        "outputs": 1,
        "useDifferentColor": false,
        "className": "",
        "x": 1380,
        "y": 540,
        "wires": [
            []
        ]
    },
    {
        "id": "966d6f940f8c460a",
        "type": "ui_template",
        "z": "86c1cce0024c0f35",
        "group": "af94c5541ac7ab67",
        "name": "EMOJI",
        "order": 2,
        "width": 0,
        "height": 0,
        "format": "<div style=\"\n    padding: 12px;\n    border-radius: 12px;\n    text-align: center;\n    color: white;\n    background-color: {{msg.payload.color}};\n\">\n    <div style=\"font-size: 32px; line-height: 1;\">\n        {{msg.payload.icon}}\n    </div>\n\n    <div style=\"font-size: 20px; font-weight: bold; margin-top: 4px;\">\n        PM2.5: {{msg.payload.pm25}} µg/m³\n    </div>\n\n    <div style=\"margin-top: 2px;\">\n        สถานะ: {{msg.payload.status}}\n    </div>\n\n    <div style=\"font-size: 12px; margin-top: 4px;\">\n        อัปเดตล่าสุด: {{msg.payload.time}}\n    </div>\n</div>",
        "storeOutMessages": true,
        "fwdInMessages": true,
        "resendOnRefresh": true,
        "templateScope": "local",
        "className": "",
        "x": 950,
        "y": 720,
        "wires": [
            []
        ]
    },
    {
        "id": "d89bb7ed9400451f",
        "type": "function",
        "z": "86c1cce0024c0f35",
        "name": "function 2",
        "func": "var pm25 = Number(msg.payload);\nvar status = \"\";\nvar color = \"\";\nvar icon = \"\";\n\nif (pm25 <= 25) {\n    status = \"ดีมาก\";\n    color = \"#2ecc71\";\n    icon = \"🟢😊\";\n} else if (pm25 <= 50) {\n    status = \"ปานกลาง\";\n    color = \"#f1c40f\";\n    icon = \"🟡🙂\";\n} else if (pm25 <= 100) {\n    status = \"เริ่มมีผลกระทบต่อสุขภาพ\";\n    color = \"#e67e22\";\n    icon = \"🟠😷\";\n} else {\n    status = \"อันตราย\";\n    color = \"#e74c3c\";\n    icon = \"🔴☠️\";\n}\n\nmsg.payload = {\n    pm25: pm25,\n    status: status,\n    color: color,\n    icon: icon,\n    time: new Date().toLocaleString(\"th-TH\")\n};\n\nreturn msg;",
        "outputs": 1,
        "timeout": 0,
        "noerr": 0,
        "initialize": "",
        "finalize": "",
        "libs": [],
        "x": 780,
        "y": 720,
        "wires": [
            [
                "966d6f940f8c460a"
            ]
        ]
    },
    {
        "id": "1e6f40a18f1c4bc5",
        "type": "function",
        "z": "86c1cce0024c0f35",
        "name": "function 3",
        "func": "var pm25 = Number(msg.payload);\n\nvar advice = \"\";\nvar color = \"\";\nvar icon = \"\";\n\nif (pm25 <= 25) {\n    advice = \"สามารถทำกิจกรรมกลางแจ้งได้ตามปกติ\";\n    color = \"#2ecc71\";\n    icon = \"🏃‍♂️🌿\";\n} else if (pm25 <= 50) {\n    advice = \"กลุ่มเสี่ยงควรลดเวลาทำกิจกรรมนอกอาคาร\";\n    color = \"#f1c40f\";\n    icon = \"😐\";\n} else if (pm25 <= 100) {\n    advice = \"ควรสวมหน้ากาก และหลีกเลี่ยงกิจกรรมกลางแจ้ง\";\n    color = \"#e67e22\";\n    icon = \"😷\";\n} else {\n    advice = \"ควรอยู่ในอาคาร หลีกเลี่ยงกิจกรรมกลางแจ้ง\";\n    color = \"#e74c3c\";\n    icon = \"🚨\";\n}\n\nmsg.payload = {\n    pm25: pm25,\n    advice: advice,\n    color: color,\n    icon: icon\n};\n\nreturn msg;",
        "outputs": 1,
        "timeout": 0,
        "noerr": 0,
        "initialize": "",
        "finalize": "",
        "libs": [],
        "x": 780,
        "y": 760,
        "wires": [
            [
                "0f5dfeb4e373b9f7"
            ]
        ]
    },
    {
        "id": "0f5dfeb4e373b9f7",
        "type": "ui_template",
        "z": "86c1cce0024c0f35",
        "group": "af94c5541ac7ab67",
        "name": "Health",
        "order": 3,
        "width": 0,
        "height": 0,
        "format": "<div style=\"\n    padding:10px;\n    border-radius:12px;\n    text-align:center;\n    background-color: {{msg.payload.color}};\n    color:white;\n    overflow:hidden;\n\">\n    <div style=\"font-size:26px; line-height:1;\">\n        {{msg.payload.icon}}\n    </div>\n\n    <div style=\"font-size:16px; font-weight:bold; margin-top:4px;\">\n        คำแนะนำด้านสุขภาพ\n    </div>\n\n    <div style=\"font-size:14px; margin-top:2px;\">\n        {{msg.payload.advice}}\n    </div>\n</div>",
        "storeOutMessages": true,
        "fwdInMessages": true,
        "resendOnRefresh": true,
        "templateScope": "local",
        "className": "",
        "x": 950,
        "y": 760,
        "wires": [
            []
        ]
    },
    {
        "id": "99b2104e8511d5d6",
        "type": "function",
        "z": "86c1cce0024c0f35",
        "name": "function 4",
        "func": "var pm25 = Number(msg.payload);\n\nvar max = context.get(\"daily_max\") ?? pm25;\nvar min = context.get(\"daily_min\") ?? pm25;\nvar sum = context.get(\"daily_sum\") ?? 0;\nvar count = context.get(\"daily_count\") ?? 0;\n\nif (pm25 > max) max = pm25;\nif (pm25 < min) min = pm25;\n\nsum += pm25;\ncount += 1;\n\ncontext.set(\"daily_max\", max);\ncontext.set(\"daily_min\", min);\ncontext.set(\"daily_sum\", sum);\ncontext.set(\"daily_count\", count);\n\nmsg.payload = {\n    max: max,\n    min: min,\n    avg: (sum / count).toFixed(1)\n};\n\nreturn msg;\n",
        "outputs": 1,
        "timeout": 0,
        "noerr": 0,
        "initialize": "",
        "finalize": "",
        "libs": [],
        "x": 780,
        "y": 800,
        "wires": [
            [
                "b473d0e706690651"
            ]
        ]
    },
    {
        "id": "b473d0e706690651",
        "type": "ui_template",
        "z": "86c1cce0024c0f35",
        "group": "af94c5541ac7ab67",
        "name": "",
        "order": 4,
        "width": 0,
        "height": 0,
        "format": "<div style=\"\n    padding:12px;\n    border-radius:12px;\n    background:#ecf0f1;\n    text-align:center;\n\">\n    <b>📊 สรุปวันนี้ (PM2.5)</b><br>\n    สูงสุด: {{msg.payload.max}} µg/m³<br>\n    ต่ำสุด: {{msg.payload.min}} µg/m³<br>\n    เฉลี่ย: {{msg.payload.avg}} µg/m³\n</div>",
        "storeOutMessages": true,
        "fwdInMessages": true,
        "resendOnRefresh": true,
        "templateScope": "local",
        "className": "",
        "x": 1220,
        "y": 800,
        "wires": [
            []
        ]
    },
    {
        "id": "20648248bf79c6d7",
        "type": "function",
        "z": "86c1cce0024c0f35",
        "name": "function 5",
        "func": "var pm25 = Number(msg.payload);\nvar last = context.get(\"trend_lastPM25\");\n\nvar trend = \"➖ คงที่\";\nif (last !== undefined) {\n    if (pm25 > last) trend = \"⬆️ เพิ่มขึ้น\";\n    else if (pm25 < last) trend = \"⬇️ ลดลง\";\n}\n\ncontext.set(\"trend_lastPM25\", pm25);\n\nmsg.payload = {\n    trend: trend,\n    value: pm25\n};\n\nreturn msg;",
        "outputs": 1,
        "timeout": 0,
        "noerr": 0,
        "initialize": "",
        "finalize": "",
        "libs": [],
        "x": 780,
        "y": 840,
        "wires": [
            [
                "7f82a9f9fdbb2cbe"
            ]
        ]
    },
    {
        "id": "7f82a9f9fdbb2cbe",
        "type": "ui_template",
        "z": "86c1cce0024c0f35",
        "group": "2cfe40492fdff9da",
        "name": "",
        "order": 1,
        "width": 0,
        "height": 0,
        "format": "<div style=\"\n    padding:10px;\n    border-radius:10px;\n    background:#fdfefe;\n    text-align:center;\n\">\n    <b>แนวโน้มค่า PM2.5</b><br>\n    {{msg.payload.trend}}\n</div>",
        "storeOutMessages": true,
        "fwdInMessages": true,
        "resendOnRefresh": true,
        "templateScope": "local",
        "className": "",
        "x": 960,
        "y": 840,
        "wires": [
            []
        ]
    },
    {
        "id": "de82f3cc5d5aba65",
        "type": "function",
        "z": "86c1cce0024c0f35",
        "name": "function 7",
        "func": "context.set(\"daily_max\", null);\ncontext.set(\"daily_min\", null);\ncontext.set(\"daily_sum\", 0);\ncontext.set(\"daily_count\", 0);\n\nmsg.payload = {\n    max: \"-\",\n    min: \"-\",\n    avg: \"-\"\n};\n\nreturn msg;\n",
        "outputs": 1,
        "timeout": 0,
        "noerr": 0,
        "initialize": "",
        "finalize": "",
        "libs": [],
        "x": 900,
        "y": 480,
        "wires": [
            [
                "b473d0e706690651"
            ]
        ]
    },
    {
        "id": "045de5d3636534cd",
        "type": "ui_chart",
        "z": "86c1cce0024c0f35",
        "name": "",
        "group": "2cfe40492fdff9da",
        "order": 2,
        "width": 0,
        "height": 0,
        "label": "30 Day Summary",
        "chartType": "line",
        "legend": "true",
        "xformat": "D/M",
        "interpolate": "linear",
        "nodata": "",
        "dot": true,
        "ymin": "0",
        "ymax": "100",
        "removeOlder": "30",
        "removeOlderPoints": "",
        "removeOlderUnit": "86400",
        "cutout": 0,
        "useOneColor": false,
        "useUTC": false,
        "colors": [
            "#1f77b4",
            "#aec7e8",
            "#ff7f0e",
            "#2ca02c",
            "#98df8a",
            "#d62728",
            "#ff9896",
            "#9467bd",
            "#c5b0d5"
        ],
        "outputs": 1,
        "useDifferentColor": false,
        "className": "",
        "x": 1390,
        "y": 220,
        "wires": [
            []
        ]
    },
    {
        "id": "207e080bf12fad03",
        "type": "GSheet",
        "z": "86c1cce0024c0f35",
        "creds": "47449cdc6b79ea00",
        "method": "append",
        "action": "",
        "sheet": "1aZN_eEUDGyOsjyslA42A-W3EbSq5chobLTYqEGifaf4",
        "cells": "raw_data",
        "flatten": false,
        "name": "raw_data",
        "x": 620,
        "y": 900,
        "wires": [
            []
        ]
    },
    {
        "id": "cfcfec3e8bb9a0af",
        "type": "function",
        "z": "86c1cce0024c0f35",
        "name": "function 8",
        "func": "let now = new Date().toLocaleString(\"sv-SE\", {\n    timeZone: \"Asia/Bangkok\"\n});\nlet data = msg.payload;\n\nlet pm1 = 0;\nlet pm25 = 0;\nlet pm10 = 0;\n\n// ===== กรณีเป็น JSON object =====\nif (typeof data === \"object\") {\n    pm1 = Number(data.PM1) || 0;\n    pm25 = Number(data.PM25) || 0;\n    pm10 = Number(data.PM10) || 0;\n}\n\n// ===== กรณีเป็น string =====\nelse if (typeof data === \"string\") {\n\n    let matchPM1 = data.match(/PM1:(\\d+)/);\n    let matchPM25 = data.match(/PM2\\.5:(\\d+)/);\n    let matchPM10 = data.match(/PM10:(\\d+)/);\n\n    if (matchPM1) pm1 = Number(matchPM1[1]);\n    if (matchPM25) pm25 = Number(matchPM25[1]);\n    if (matchPM10) pm10 = Number(matchPM10[1]);\n}\n\nmsg.payload = [\n    [now, pm1, pm25, pm10]\n];\n\nreturn msg;",
        "outputs": 1,
        "timeout": 0,
        "noerr": 0,
        "initialize": "",
        "finalize": "",
        "libs": [],
        "x": 380,
        "y": 880,
        "wires": [
            [
                "207e080bf12fad03"
            ]
        ]
    },
    {
        "id": "64dabc163a8865d7",
        "type": "function",
        "z": "86c1cce0024c0f35",
        "name": "Format 24H Chart",
        "func": "var rows = msg.payload;\n\n// ถ้าไม่มีข้อมูล หรือมีแค่ header\nif (!Array.isArray(rows) || rows.length < 2) {\n    msg.payload = [{\n        series: [\"PM1\", \"PM2.5\", \"PM10\"],\n        data: [[], [], []],\n        labels: [\"\"]\n    }];\n    return msg;\n}\n\n// ตัด header\nrows = rows.slice(1);\n\n// เรียงตามเวลา\nrows.sort(function (a, b) {\n    var d1 = new Date(a[0]).getTime();\n    var d2 = new Date(b[0]).getTime();\n    return d1 - d2;\n});\n\n// เอา 24 ชั่วโมงล่าสุด\nrows = rows.slice(-24);\n\nvar pm1 = [];\nvar pm25 = [];\nvar pm10 = [];\n\nfor (var i = 0; i < rows.length; i++) {\n\n    var r = rows[i];\n    var date = new Date(r[0]);\n\n    pm1.push({ x: date, y: Number(r[1]) || 0 });\n    pm25.push({ x: date, y: Number(r[2]) || 0 });\n    pm10.push({ x: date, y: Number(r[3]) || 0 });\n}\n\nmsg.payload = [{\n    series: [\"PM1\", \"PM2.5\", \"PM10\"],\n    data: [pm1, pm25, pm10],\n    labels: [\"\"]\n}];\n\nreturn msg;",
        "outputs": 1,
        "timeout": 0,
        "noerr": 0,
        "initialize": "",
        "finalize": "",
        "libs": [],
        "x": 1030,
        "y": 540,
        "wires": [
            [
                "7a9901166c5bf714"
            ]
        ]
    },
    {
        "id": "bece90e5dd28be29",
        "type": "function",
        "z": "86c1cce0024c0f35",
        "name": "Format 30D Chart",
        "func": "var rows = msg.payload;\n\nif (!Array.isArray(rows) || rows.length < 2) {\n    return null;\n}\n\nrows = rows.slice(1);\n\nrows.sort(function (a, b) {\n    var d1 = new Date(a[0]).getTime();\n    var d2 = new Date(b[0]).getTime();\n    return d1 - d2;\n});\n\nrows = rows.slice(-30);\n\nvar pm1 = [];\nvar pm25 = [];\nvar pm10 = [];\n\nfor (var i = 0; i < rows.length; i++) {\n\n    var r = rows[i];\n    var date = new Date(r[0]);\n\n    pm1.push({ x: date, y: Number(r[1]) || 0 });\n    pm25.push({ x: date, y: Number(r[2]) || 0 });\n    pm10.push({ x: date, y: Number(r[3]) || 0 });\n\n}  // <<< ปิดตรงนี้\n\nmsg.payload = [{\n    series: [\"PM1\", \"PM2.5\", \"PM10\"],\n    data: [pm1, pm25, pm10],\n    labels: [\"\"]\n}];\n\nreturn msg;",
        "outputs": 1,
        "timeout": 0,
        "noerr": 0,
        "initialize": "",
        "finalize": "",
        "libs": [],
        "x": 1150,
        "y": 220,
        "wires": [
            [
                "045de5d3636534cd"
            ]
        ]
    },
    {
        "id": "066526f5b7e012cd",
        "type": "switch",
        "z": "86c1cce0024c0f35",
        "name": "",
        "property": "payload",
        "propertyType": "msg",
        "rules": [
            {
                "t": "nempty"
            }
        ],
        "checkall": "true",
        "repair": false,
        "outputs": 1,
        "x": 310,
        "y": 700,
        "wires": [
            [
                "07abfef8314e8097",
                "6c9be860ecdd4a01"
            ]
        ]
    },
    {
        "id": "4925930b5d93b847",
        "type": "function",
        "z": "86c1cce0024c0f35",
        "name": "Sheet Hourly Average",
        "func": "var oneHourAgo = Date.now() - (60 * 60 * 1000);\nvar rows = msg.payload;\n\nvar sumPM1 = 0;\nvar sumPM25 = 0;\nvar sumPM10 = 0;\nvar count = 0;\n\nrows.forEach(function (r) {\n\n    if (!r[0]) return;\n\n    var datetime = r[0];  // \"1/3/2026, 15:31:23\"\n\n    var parts = datetime.split(\", \");\n    if (parts.length < 2) return;\n\n    var datePart = parts[0];\n    var timePart = parts[1];\n\n    var d = datePart.split(\"/\");\n    if (d.length < 3) return;\n\n    var day = d[0];\n    var month = d[1];\n    var year = d[2];\n\n    var isoString =\n        year + \"-\" +\n        month.padStart(2, '0') + \"-\" +\n        day.padStart(2, '0') +\n        \"T\" + timePart;\n\n    var t = new Date(isoString).getTime();\n    if (isNaN(t)) return;\n\n    if (t >= oneHourAgo) {\n\n        var pm1 = parseFloat(r[1]);\n        var pm25 = parseFloat(r[2]);\n        var pm10 = parseFloat(r[3]);\n\n        if (!isNaN(pm1) && !isNaN(pm25) && !isNaN(pm10)) {\n            sumPM1 += pm1;\n            sumPM25 += pm25;\n            sumPM10 += pm10;\n            count++;\n        }\n    }\n});\n\nvar avgPM1 = 0;\nvar avgPM25 = 0;\nvar avgPM10 = 0;\n\nif (count > 0) {\n    avgPM1 = sumPM1 / count;\n    avgPM25 = sumPM25 / count;\n    avgPM10 = sumPM10 / count;\n}\n\n// ===== ส่งเข้า hourly_summary =====\nmsg.payload = [\n    new Date().toLocaleString(\"en-GB\"),\n    Number(avgPM1.toFixed(2)),\n    Number(avgPM25.toFixed(2)),\n    Number(avgPM10.toFixed(2))\n];\n\nreturn msg;",
        "outputs": 1,
        "timeout": 0,
        "noerr": 0,
        "initialize": "",
        "finalize": "",
        "libs": [],
        "x": 380,
        "y": 420,
        "wires": [
            [
                "6ae01ecdfe7a9dc9"
            ]
        ]
    },
    {
        "id": "3de50718be1a22ed",
        "type": "GSheet",
        "z": "86c1cce0024c0f35",
        "creds": "2c61e574686c476a",
        "method": "get",
        "action": "",
        "sheet": "1aZN_eEUDGyOsjyslA42A-W3EbSq5chobLTYqEGifaf4",
        "cells": "raw_data!A:D",
        "flatten": false,
        "name": "Get raw_data",
        "x": 340,
        "y": 340,
        "wires": [
            [
                "4925930b5d93b847"
            ]
        ]
    },
    {
        "id": "6ae01ecdfe7a9dc9",
        "type": "GSheet",
        "z": "86c1cce0024c0f35",
        "creds": "64991135615702ea",
        "method": "append",
        "action": "",
        "sheet": "1aZN_eEUDGyOsjyslA42A-W3EbSq5chobLTYqEGifaf4",
        "cells": "hourly_summary!A:D",
        "flatten": false,
        "name": "hourly_summary",
        "x": 560,
        "y": 480,
        "wires": [
            [
                "6f7a590c0341f347"
            ]
        ]
    },
    {
        "id": "6f7a590c0341f347",
        "type": "GSheet",
        "z": "86c1cce0024c0f35",
        "creds": "47449cdc6b79ea00",
        "method": "get",
        "action": "",
        "sheet": "1aZN_eEUDGyOsjyslA42A-W3EbSq5chobLTYqEGifaf4",
        "cells": "hourly_summary!A:D",
        "flatten": false,
        "name": "Get hourly_summary",
        "x": 720,
        "y": 540,
        "wires": [
            [
                "64dabc163a8865d7"
            ]
        ]
    },
    {
        "id": "331be8fbb8b76196",
        "type": "inject",
        "z": "86c1cce0024c0f35",
        "name": "Hourly Trigger",
        "props": [
            {
                "p": "payload"
            },
            {
                "p": "topic",
                "vt": "str"
            }
        ],
        "repeat": "3600",
        "crontab": "",
        "once": false,
        "onceDelay": 0.1,
        "topic": "",
        "payload": "",
        "payloadType": "date",
        "x": 120,
        "y": 340,
        "wires": [
            [
                "3de50718be1a22ed"
            ]
        ]
    },
    {
        "id": "5138a544f114fa0a",
        "type": "inject",
        "z": "86c1cce0024c0f35",
        "name": "Repeat Get hourly to format",
        "props": [
            {
                "p": "payload"
            },
            {
                "p": "topic",
                "vt": "str"
            }
        ],
        "repeat": "300",
        "crontab": "",
        "once": true,
        "onceDelay": 0.1,
        "topic": "",
        "payload": "",
        "payloadType": "date",
        "x": 200,
        "y": 520,
        "wires": [
            [
                "6f7a590c0341f347"
            ]
        ]
    },
    {
        "id": "2a060ed931635e74",
        "type": "function",
        "z": "86c1cce0024c0f35",
        "name": "Create Daily Avg",
        "func": "var rows = msg.payload;\n\nif (!Array.isArray(rows) || rows.length < 2) return null;\n\nrows.shift(); // ลบ header\n\n// หา \"เมื่อวาน\"\nvar yesterday = new Date();\nyesterday.setDate(yesterday.getDate() - 1);\nvar targetDate = yesterday.toDateString();\n\nvar sum1 = 0, sum25 = 0, sum10 = 0, count = 0;\n\nrows.forEach(r => {\n    if (!r[0]) return;\n\n    var d = new Date(r[0]);\n    if (d.toDateString() === targetDate) {\n        sum1 += Number(r[1]) || 0;\n        sum25 += Number(r[2]) || 0;\n        sum10 += Number(r[3]) || 0;\n        count++;\n    }\n});\n\nif (count === 0) return null;\n\nmsg.payload = [[\n    yesterday.toLocaleDateString(\"sv-SE\", { timeZone: \"Asia/Bangkok\" }),\n    (sum1 / count).toFixed(1),\n    (sum25 / count).toFixed(1),\n    (sum10 / count).toFixed(1)\n]];\n\nnode.warn(\"Daily summary created\");\n\nreturn msg;",
        "outputs": 1,
        "timeout": 0,
        "noerr": 0,
        "initialize": "",
        "finalize": "",
        "libs": [],
        "x": 710,
        "y": 160,
        "wires": [
            [
                "42d6a531270ee5e6"
            ]
        ]
    },
    {
        "id": "42d6a531270ee5e6",
        "type": "GSheet",
        "z": "86c1cce0024c0f35",
        "creds": "47449cdc6b79ea00",
        "method": "append",
        "action": "",
        "sheet": "1aZN_eEUDGyOsjyslA42A-W3EbSq5chobLTYqEGifaf4",
        "cells": "daily_summary!A:D",
        "flatten": false,
        "name": "",
        "x": 930,
        "y": 160,
        "wires": [
            []
        ]
    },
    {
        "id": "48caa80f86a16ab9",
        "type": "GSheet",
        "z": "86c1cce0024c0f35",
        "creds": "47449cdc6b79ea00",
        "method": "get",
        "action": "",
        "sheet": "1aZN_eEUDGyOsjyslA42A-W3EbSq5chobLTYqEGifaf4",
        "cells": "hourly_summary!A:D",
        "flatten": false,
        "name": "Get hourly_summary",
        "x": 480,
        "y": 160,
        "wires": [
            [
                "2a060ed931635e74"
            ]
        ]
    },
    {
        "id": "c27fdfa65db448af",
        "type": "inject",
        "z": "86c1cce0024c0f35",
        "name": "Repeat Get hourly to average",
        "props": [
            {
                "p": "payload"
            },
            {
                "p": "topic",
                "vt": "str"
            }
        ],
        "repeat": "",
        "crontab": "05 00 * * *",
        "once": false,
        "onceDelay": 0.1,
        "topic": "",
        "payload": "",
        "payloadType": "date",
        "x": 190,
        "y": 160,
        "wires": [
            [
                "48caa80f86a16ab9"
            ]
        ]
    },
    {
        "id": "9687f5022841728c",
        "type": "GSheet",
        "z": "86c1cce0024c0f35",
        "creds": "47449cdc6b79ea00",
        "method": "get",
        "action": "",
        "sheet": "1aZN_eEUDGyOsjyslA42A-W3EbSq5chobLTYqEGifaf4",
        "cells": "daily_summary!A:D",
        "flatten": false,
        "name": "",
        "x": 950,
        "y": 220,
        "wires": [
            [
                "bece90e5dd28be29"
            ]
        ]
    },
    {
        "id": "8b19574eb9e0b64b",
        "type": "inject",
        "z": "86c1cce0024c0f35",
        "name": "Day trigger",
        "props": [
            {
                "p": "payload"
            },
            {
                "p": "topic",
                "vt": "str"
            }
        ],
        "repeat": "",
        "crontab": "05 00 * * *",
        "once": false,
        "onceDelay": 0.1,
        "topic": "",
        "payload": "",
        "payloadType": "date",
        "x": 770,
        "y": 220,
        "wires": [
            [
                "9687f5022841728c"
            ]
        ]
    }
]