flows.json
[
    {
        "id": "86c1cce0024c0f35",
        "type": "tab",
        "label": "Flow 1",
        "disabled": false,
        "info": "",
        "env": []
    },
    {
        "id": "ccda7495396542c2",
        "type": "mqtt-broker",
        "name": "",
        "broker": "e45da252fa9245a0b344cfacbe854db1.s1.eu.hivemq.cloud",
        "port": "8883",
        "tls": "b9dae388e44637ae",
        "clientid": "nodered-render-pm",
        "autoConnect": true,
        "usetls": true,
        "protocolVersion": "4",
        "keepalive": "60",
        "cleansession": true,
        "autoUnsubscribe": true,
        "birthTopic": "air/pms5003",
        "birthQos": "0",
        "birthRetain": "false",
        "birthPayload": "",
        "birthMsg": {},
        "closeTopic": "",
        "closeQos": "0",
        "closeRetain": "false",
        "closePayload": "",
        "closeMsg": {},
        "willTopic": "",
        "willQos": "0",
        "willRetain": "false",
        "willPayload": "",
        "willMsg": {},
        "userProps": "",
        "sessionExpiry": ""
    },
    {
        "id": "af94c5541ac7ab67",
        "type": "ui_group",
        "name": "Air Quality",
        "tab": "390f832b29e3cb21",
        "order": 1,
        "disp": true,
        "width": "6",
        "collapse": false,
        "className": ""
    },
    {
        "id": "2cfe40492fdff9da",
        "type": "ui_group",
        "name": "Details",
        "tab": "390f832b29e3cb21",
        "order": 1,
        "disp": true,
        "width": 6,
        "collapse": false,
        "className": ""
    },
    {
        "id": "b9dae388e44637ae",
        "type": "tls-config",
        "name": "air/pms5003",
        "cert": "",
        "key": "",
        "ca": "",
        "certname": "",
        "keyname": "",
        "caname": "",
        "servername": "",
        "verifyservercert": false,
        "alpnprotocol": ""
    },
    {
        "id": "390f832b29e3cb21",
        "type": "ui_tab",
        "name": "PM Monitor",
        "icon": "dashboard",
        "disabled": false,
        "hidden": false
    },
    {
        "id": "c6b6da4cf10a9553",
        "type": "global-config",
        "env": []
    },
    {
        "id": "ca2b0843ed566e37",
        "type": "ui_base",
        "theme": {
            "name": "theme-light",
            "lightTheme": {
                "default": "#0094CE",
                "baseColor": "#0094CE",
                "baseFont": "-apple-system,BlinkMacSystemFont,Segoe UI,Roboto,Oxygen-Sans,Ubuntu,Cantarell,Helvetica Neue,sans-serif",
                "edited": false
            },
            "darkTheme": {
                "default": "#097479",
                "baseColor": "#097479",
                "baseFont": "-apple-system,BlinkMacSystemFont,Segoe UI,Roboto,Oxygen-Sans,Ubuntu,Cantarell,Helvetica Neue,sans-serif",
                "edited": false
            },
            "customTheme": {
                "name": "Untitled Theme 1",
                "default": "#4B7930",
                "baseColor": "#4B7930",
                "baseFont": "-apple-system,BlinkMacSystemFont,Segoe UI,Roboto,Oxygen-Sans,Ubuntu,Cantarell,Helvetica Neue,sans-serif"
            },
            "themeState": {
                "base-color": {
                    "default": "#0094CE",
                    "value": "#0094CE",
                    "edited": false
                },
                "page-titlebar-backgroundColor": {
                    "value": "#0094CE",
                    "edited": false
                },
                "page-backgroundColor": {
                    "value": "#fafafa",
                    "edited": false
                },
                "page-sidebar-backgroundColor": {
                    "value": "#ffffff",
                    "edited": false
                },
                "group-textColor": {
                    "value": "#1bbfff",
                    "edited": false
                },
                "group-borderColor": {
                    "value": "#ffffff",
                    "edited": false
                },
                "group-backgroundColor": {
                    "value": "#ffffff",
                    "edited": false
                },
                "widget-textColor": {
                    "value": "#111111",
                    "edited": false
                },
                "widget-backgroundColor": {
                    "value": "#0094ce",
                    "edited": false
                },
                "widget-borderColor": {
                    "value": "#ffffff",
                    "edited": false
                },
                "base-font": {
                    "value": "-apple-system,BlinkMacSystemFont,Segoe UI,Roboto,Oxygen-Sans,Ubuntu,Cantarell,Helvetica Neue,sans-serif"
                }
            },
            "angularTheme": {
                "primary": "indigo",
                "accents": "blue",
                "warn": "red",
                "background": "grey",
                "palette": "light"
            }
        },
        "site": {
            "name": "Node-RED Dashboard",
            "hideToolbar": "false",
            "allowSwipe": "false",
            "lockMenu": "false",
            "allowTempTheme": "true",
            "dateFormat": "DD/MM/YYYY",
            "sizes": {
                "sx": 48,
                "sy": 48,
                "gx": 6,
                "gy": 6,
                "cx": 6,
                "cy": 6,
                "px": 0,
                "py": 0
            }
        }
    },
    {
        "id": "f8bd1a80d6eb3025",
        "type": "mqtt in",
        "z": "86c1cce0024c0f35",
        "name": "",
        "topic": "air/pms5003",
        "qos": "0",
        "datatype": "auto-detect",
        "broker": "ccda7495396542c2",
        "nl": false,
        "rap": true,
        "rh": 0,
        "inputs": 0,
        "x": 170,
        "y": 380,
        "wires": [
            [
                "066526f5b7e012cd"
            ]
        ]
    },
    {
        "id": "bc30abd588e880ce",
        "type": "json",
        "z": "86c1cce0024c0f35",
        "name": "",
        "property": "payload",
        "action": "obj",
        "pretty": false,
        "x": 470,
        "y": 380,
        "wires": [
            [
                "6c9be860ecdd4a01",
                "07abfef8314e8097"
            ]
        ]
    },
    {
        "id": "6001036b70836858",
        "type": "ui_gauge",
        "z": "86c1cce0024c0f35",
        "name": "",
        "group": "af94c5541ac7ab67",
        "order": 1,
        "width": "0",
        "height": "0",
        "gtype": "gage",
        "title": "PM2.5 Realtime",
        "label": "Unit",
        "format": "{{value}} µg/m³",
        "min": 0,
        "max": "90",
        "colors": [
            "#4edf58",
            "#f3f312",
            "#ca3838"
        ],
        "seg1": "25",
        "seg2": "50",
        "diff": false,
        "className": "",
        "x": 980,
        "y": 380,
        "wires": []
    },
    {
        "id": "7a9901166c5bf714",
        "type": "ui_chart",
        "z": "86c1cce0024c0f35",
        "name": "",
        "group": "af94c5541ac7ab67",
        "order": 4,
        "width": 0,
        "height": 0,
        "label": "24H Summary",
        "chartType": "line",
        "legend": "true",
        "xformat": "HH:mm:ss",
        "interpolate": "linear",
        "nodata": "",
        "dot": true,
        "ymin": "0",
        "ymax": "100",
        "removeOlder": "24",
        "removeOlderPoints": "24",
        "removeOlderUnit": "3600",
        "cutout": 0,
        "useOneColor": false,
        "useUTC": false,
        "colors": [
            "#1f77b4",
            "#11ff00",
            "#ff7f0e",
            "#2ca02c",
            "#98df8a",
            "#d62728",
            "#ff9896",
            "#9467bd",
            "#c5b0d5"
        ],
        "outputs": 1,
        "useDifferentColor": false,
        "className": "",
        "x": 1260,
        "y": 240,
        "wires": [
            []
        ]
    },
    {
        "id": "6c9be860ecdd4a01",
        "type": "function",
        "z": "86c1cce0024c0f35",
        "name": "function 1",
        "func": "// ===== อ่านค่า =====\nvar pm1  = Number(msg.payload.PM1);\nvar pm25 = Number(msg.payload.PM25);\nvar pm10 = Number(msg.payload.PM10);\n\n// ===== กรองค่าผิดพลาด =====\nif (pm1 > 200 || pm25 > 200 || pm10 > 200) {\n    node.warn(\"Sensor error: value > 200\");\n    return null;\n}\n\n// ===== กรองค่าเด้ง (spike) =====\nvar last = context.get(\"lastPM25\");\nif (last !== undefined && Math.abs(pm25 - last) > 50) {\n    node.warn(`Spike detected: ${last} → ${pm25}`);\n    return null;\n}\ncontext.set(\"lastPM25\", pm25);\n\n// ===== Output 1 : กราฟ =====\nvar chartMsgs = [\n    { topic: \"PM1\", payload: pm1 },\n    { topic: \"PM2.5\", payload: pm25 },\n    { topic: \"PM10\", payload: pm10 }\n];\n\n// ===== Output 2 : Gauge =====\nvar gaugeMsg = { payload: pm25 };\n\n// ===== Output 3 : ส่งต่อให้ status =====\nvar statusMsg = { payload: pm25 };\n\nreturn [\n    chartMsgs,\n    gaugeMsg,\n    statusMsg\n];",
        "outputs": 3,
        "timeout": 0,
        "noerr": 0,
        "initialize": "",
        "finalize": "",
        "libs": [],
        "x": 620,
        "y": 380,
        "wires": [
            [
                "f4a46cf2fa14caf3",
                "bb1d84aea548f1d1"
            ],
            [
                "6001036b70836858"
            ],
            [
                "d89bb7ed9400451f",
                "1e6f40a18f1c4bc5",
                "99b2104e8511d5d6",
                "20648248bf79c6d7"
            ]
        ]
    },
    {
        "id": "066526f5b7e012cd",
        "type": "switch",
        "z": "86c1cce0024c0f35",
        "name": "",
        "property": "payload",
        "propertyType": "msg",
        "rules": [
            {
                "t": "nempty"
            }
        ],
        "checkall": "true",
        "repair": false,
        "outputs": 1,
        "x": 330,
        "y": 380,
        "wires": [
            [
                "bc30abd588e880ce"
            ]
        ]
    },
    {
        "id": "966d6f940f8c460a",
        "type": "ui_template",
        "z": "86c1cce0024c0f35",
        "group": "af94c5541ac7ab67",
        "name": "EMOJI",
        "order": 2,
        "width": 0,
        "height": 0,
        "format": "<div style=\"\n    padding: 12px;\n    border-radius: 12px;\n    text-align: center;\n    color: white;\n    background-color: {{msg.payload.color}};\n\">\n    <div style=\"font-size: 32px; line-height: 1;\">\n        {{msg.payload.icon}}\n    </div>\n\n    <div style=\"font-size: 20px; font-weight: bold; margin-top: 4px;\">\n        PM2.5: {{msg.payload.pm25}} µg/m³\n    </div>\n\n    <div style=\"margin-top: 2px;\">\n        สถานะ: {{msg.payload.status}}\n    </div>\n\n    <div style=\"font-size: 12px; margin-top: 4px;\">\n        อัปเดตล่าสุด: {{msg.payload.time}}\n    </div>\n</div>",
        "storeOutMessages": true,
        "fwdInMessages": true,
        "resendOnRefresh": true,
        "templateScope": "local",
        "className": "",
        "x": 970,
        "y": 420,
        "wires": [
            []
        ]
    },
    {
        "id": "d89bb7ed9400451f",
        "type": "function",
        "z": "86c1cce0024c0f35",
        "name": "function 2",
        "func": "var pm25 = Number(msg.payload);\nvar status = \"\";\nvar color = \"\";\nvar icon = \"\";\n\nif (pm25 <= 25) {\n    status = \"ดีมาก\";\n    color = \"#2ecc71\";\n    icon = \"🟢😊\";\n} else if (pm25 <= 50) {\n    status = \"ปานกลาง\";\n    color = \"#f1c40f\";\n    icon = \"🟡🙂\";\n} else if (pm25 <= 100) {\n    status = \"เริ่มมีผลกระทบต่อสุขภาพ\";\n    color = \"#e67e22\";\n    icon = \"🟠😷\";\n} else {\n    status = \"อันตราย\";\n    color = \"#e74c3c\";\n    icon = \"🔴☠️\";\n}\n\nmsg.payload = {\n    pm25: pm25,\n    status: status,\n    color: color,\n    icon: icon,\n    time: new Date().toLocaleString(\"th-TH\")\n};\n\nreturn msg;",
        "outputs": 1,
        "timeout": 0,
        "noerr": 0,
        "initialize": "",
        "finalize": "",
        "libs": [],
        "x": 800,
        "y": 400,
        "wires": [
            [
                "966d6f940f8c460a"
            ]
        ]
    },
    {
        "id": "07abfef8314e8097",
        "type": "ui_template",
        "z": "86c1cce0024c0f35",
        "group": "2cfe40492fdff9da",
        "name": "",
        "order": 5,
        "width": 0,
        "height": 0,
        "format": "<div style=\"padding: 10px;\">\n    <h4 style=\"text-align:center; margin-bottom:8px;\">\n        ตารางแสดงมาตรฐานฝุ่น PM2.5\n    </h4>\n\n    <table style=\"\n        width:100%;\n        border-collapse: collapse;\n        text-align: center;\n        font-size: 14px;\n    \">\n        <tr style=\"background:#f2f2f2;\">\n            <th style=\"border:1px solid #ccc; padding:6px;\">ระดับ</th>\n            <th style=\"border:1px solid #ccc; padding:6px;\">ค่า PM2.5 (µg/m³)</th>\n            <th style=\"border:1px solid #ccc; padding:6px;\">ความหมาย</th>\n        </tr>\n\n        <tr style=\"background:#2ecc71; color:white;\">\n            <td style=\"border:1px solid #ccc;\">🟢</td>\n            <td style=\"border:1px solid #ccc;\">0 – 25</td>\n            <td style=\"border:1px solid #ccc;\">ดีมาก</td>\n        </tr>\n\n        <tr style=\"background:#f1c40f;\">\n            <td style=\"border:1px solid #ccc;\">🟡</td>\n            <td style=\"border:1px solid #ccc;\">26 – 50</td>\n            <td style=\"border:1px solid #ccc;\">ปานกลาง</td>\n        </tr>\n\n        <tr style=\"background:#e67e22; color:white;\">\n            <td style=\"border:1px solid #ccc;\">🟠</td>\n            <td style=\"border:1px solid #ccc;\">51 – 100</td>\n            <td style=\"border:1px solid #ccc;\">เริ่มมีผลกระทบต่อสุขภาพ</td>\n        </tr>\n\n        <tr style=\"background:#e74c3c; color:white;\">\n            <td style=\"border:1px solid #ccc;\">🔴</td>\n            <td style=\"border:1px solid #ccc;\">มากกว่า 100</td>\n            <td style=\"border:1px solid #ccc;\">อันตราย</td>\n        </tr>\n    </table>\n\n    <div style=\"font-size:12px; margin-top:6px; text-align:center;\">\n        อ้างอิง: แนวทางคุณภาพอากาศ WHO / กรมควบคุมมลพิษ\n    </div>\n</div>",
        "storeOutMessages": true,
        "fwdInMessages": true,
        "resendOnRefresh": true,
        "templateScope": "local",
        "className": "",
        "x": 640,
        "y": 520,
        "wires": [
            []
        ]
    },
    {
        "id": "1e6f40a18f1c4bc5",
        "type": "function",
        "z": "86c1cce0024c0f35",
        "name": "function 3",
        "func": "var pm25 = Number(msg.payload);\n\nvar advice = \"\";\nvar color = \"\";\nvar icon = \"\";\n\nif (pm25 <= 25) {\n    advice = \"สามารถทำกิจกรรมกลางแจ้งได้ตามปกติ\";\n    color = \"#2ecc71\";\n    icon = \"🏃‍♂️🌿\";\n} else if (pm25 <= 50) {\n    advice = \"กลุ่มเสี่ยงควรลดเวลาทำกิจกรรมนอกอาคาร\";\n    color = \"#f1c40f\";\n    icon = \"😐\";\n} else if (pm25 <= 100) {\n    advice = \"ควรสวมหน้ากาก และหลีกเลี่ยงกิจกรรมกลางแจ้ง\";\n    color = \"#e67e22\";\n    icon = \"😷\";\n} else {\n    advice = \"ควรอยู่ในอาคาร หลีกเลี่ยงกิจกรรมกลางแจ้ง\";\n    color = \"#e74c3c\";\n    icon = \"🚨\";\n}\n\nmsg.payload = {\n    pm25: pm25,\n    advice: advice,\n    color: color,\n    icon: icon\n};\n\nreturn msg;",
        "outputs": 1,
        "timeout": 0,
        "noerr": 0,
        "initialize": "",
        "finalize": "",
        "libs": [],
        "x": 800,
        "y": 440,
        "wires": [
            [
                "0f5dfeb4e373b9f7"
            ]
        ]
    },
    {
        "id": "0f5dfeb4e373b9f7",
        "type": "ui_template",
        "z": "86c1cce0024c0f35",
        "group": "af94c5541ac7ab67",
        "name": "Health",
        "order": 3,
        "width": 0,
        "height": 0,
        "format": "<div style=\"\n    padding:10px;\n    border-radius:12px;\n    text-align:center;\n    background-color: {{msg.payload.color}};\n    color:white;\n    overflow:hidden;\n\">\n    <div style=\"font-size:26px; line-height:1;\">\n        {{msg.payload.icon}}\n    </div>\n\n    <div style=\"font-size:16px; font-weight:bold; margin-top:4px;\">\n        คำแนะนำด้านสุขภาพ\n    </div>\n\n    <div style=\"font-size:14px; margin-top:2px;\">\n        {{msg.payload.advice}}\n    </div>\n</div>",
        "storeOutMessages": true,
        "fwdInMessages": true,
        "resendOnRefresh": true,
        "templateScope": "local",
        "className": "",
        "x": 970,
        "y": 460,
        "wires": [
            []
        ]
    },
    {
        "id": "99b2104e8511d5d6",
        "type": "function",
        "z": "86c1cce0024c0f35",
        "name": "function 4",
        "func": "var pm25 = Number(msg.payload);\n\nvar max = context.get(\"daily_max\") ?? pm25;\nvar min = context.get(\"daily_min\") ?? pm25;\nvar sum = context.get(\"daily_sum\") ?? 0;\nvar count = context.get(\"daily_count\") ?? 0;\n\nif (pm25 > max) max = pm25;\nif (pm25 < min) min = pm25;\n\nsum += pm25;\ncount += 1;\n\ncontext.set(\"daily_max\", max);\ncontext.set(\"daily_min\", min);\ncontext.set(\"daily_sum\", sum);\ncontext.set(\"daily_count\", count);\n\nmsg.payload = {\n    max: max,\n    min: min,\n    avg: (sum / count).toFixed(1)\n};\n\nreturn msg;\n",
        "outputs": 1,
        "timeout": 0,
        "noerr": 0,
        "initialize": "",
        "finalize": "",
        "libs": [],
        "x": 800,
        "y": 480,
        "wires": [
            [
                "b473d0e706690651"
            ]
        ]
    },
    {
        "id": "b473d0e706690651",
        "type": "ui_template",
        "z": "86c1cce0024c0f35",
        "group": "af94c5541ac7ab67",
        "name": "",
        "order": 4,
        "width": 0,
        "height": 0,
        "format": "<div style=\"\n    padding:12px;\n    border-radius:12px;\n    background:#ecf0f1;\n    text-align:center;\n\">\n    <b>📊 สรุปวันนี้ (PM2.5)</b><br>\n    สูงสุด: {{msg.payload.max}} µg/m³<br>\n    ต่ำสุด: {{msg.payload.min}} µg/m³<br>\n    เฉลี่ย: {{msg.payload.avg}} µg/m³\n</div>",
        "storeOutMessages": true,
        "fwdInMessages": true,
        "resendOnRefresh": true,
        "templateScope": "local",
        "className": "",
        "x": 1220,
        "y": 480,
        "wires": [
            []
        ]
    },
    {
        "id": "20648248bf79c6d7",
        "type": "function",
        "z": "86c1cce0024c0f35",
        "name": "function 5",
        "func": "var pm25 = Number(msg.payload);\nvar last = context.get(\"trend_lastPM25\");\n\nvar trend = \"➖ คงที่\";\nif (last !== undefined) {\n    if (pm25 > last) trend = \"⬆️ เพิ่มขึ้น\";\n    else if (pm25 < last) trend = \"⬇️ ลดลง\";\n}\n\ncontext.set(\"trend_lastPM25\", pm25);\n\nmsg.payload = {\n    trend: trend,\n    value: pm25\n};\n\nreturn msg;",
        "outputs": 1,
        "timeout": 0,
        "noerr": 0,
        "initialize": "",
        "finalize": "",
        "libs": [],
        "x": 800,
        "y": 520,
        "wires": [
            [
                "7f82a9f9fdbb2cbe"
            ]
        ]
    },
    {
        "id": "7f82a9f9fdbb2cbe",
        "type": "ui_template",
        "z": "86c1cce0024c0f35",
        "group": "2cfe40492fdff9da",
        "name": "",
        "order": 1,
        "width": 0,
        "height": 0,
        "format": "<div style=\"\n    padding:10px;\n    border-radius:10px;\n    background:#fdfefe;\n    text-align:center;\n\">\n    <b>แนวโน้มค่า PM2.5</b><br>\n    {{msg.payload.trend}}\n</div>",
        "storeOutMessages": true,
        "fwdInMessages": true,
        "resendOnRefresh": true,
        "templateScope": "local",
        "className": "",
        "x": 980,
        "y": 540,
        "wires": [
            []
        ]
    },
    {
        "id": "f4a46cf2fa14caf3",
        "type": "function",
        "z": "86c1cce0024c0f35",
        "name": "Hourly Aggregator",
        "func": "// ===== ค่า PM จาก message =====\nvar value = Number(msg.payload);\nvar topic = msg.topic; // PM1 | PM2.5 | PM10\n\nif (isNaN(value)) return null;\n\n// ===== เวลา =====\nvar now = new Date();\nvar hourKey = now.getFullYear() + \"-\" +\n              (now.getMonth()+1) + \"-\" +\n              now.getDate() + \" \" +\n            now.getHours()\n\n// ===== ดึงข้อมูลสะสม =====\nvar data = context.get(\"hourData\") || {};\nvar current = data[hourKey] || {\n    PM1:  { sum: 0, count: 0 },\n    PM25: { sum: 0, count: 0 },\n    PM10: { sum: 0, count: 0 }\n};\n\n// ===== สะสมค่า =====\nif (topic === \"PM1\") {\n    current.PM1.sum += value;\n    current.PM1.count++;\n}\nelse if (topic === \"PM2.5\") {\n    current.PM25.sum += value;\n    current.PM25.count++;\n}\nelse if (topic === \"PM10\") {\n    current.PM10.sum += value;\n    current.PM10.count++;\n}\n\ndata[hourKey] = current;\ncontext.set(\"hourData\", data);\n\n// ===== ตรวจเปลี่ยนชั่วโมง =====\nvar lastHour = context.get(\"lastHour\");\n\nif (lastHour && lastHour !== hourKey) {\n    var prev = data[lastHour];\n\n    var avgPM1  = prev.PM1.count  ? (prev.PM1.sum  / prev.PM1.count).toFixed(1)  : 0;\n    var avgPM25 = prev.PM25.count ? (prev.PM25.sum / prev.PM25.count).toFixed(1) : 0;\n    var avgPM10 = prev.PM10.count ? (prev.PM10.sum / prev.PM10.count).toFixed(1) : 0;\n\n    // เก็บแค่ 24 ชั่วโมง\n    var keys = Object.keys(data);\n    if (keys.length > 24) delete data[keys[0]];\n    context.set(\"hourData\", data);\n\n    context.set(\"lastHour\", hourKey);\n\n    // ===== ส่งออก 3 เส้น =====\n    var ts = new Date(lastHour + \":00\").getTime();\n\n    return [[\n        { topic: \"PM1\", payload: Number(avgPM1), timestamp: ts },\n        { topic: \"PM2.5\", payload: Number(avgPM25), timestamp: ts },\n        { topic: \"PM10\", payload: Number(avgPM10), timestamp: ts }\n    ]];\n}\n\ncontext.set(\"lastHour\", hourKey);\nreturn null;\n",
        "outputs": 1,
        "timeout": 0,
        "noerr": 0,
        "initialize": "",
        "finalize": "",
        "libs": [],
        "x": 890,
        "y": 340,
        "wires": [
            [
                "7a9901166c5bf714"
            ]
        ]
    },
    {
        "id": "ed7e3c56ba2740b4",
        "type": "inject",
        "z": "86c1cce0024c0f35",
        "name": "",
        "props": [
            {
                "p": "payload"
            }
        ],
        "repeat": "",
        "crontab": "00 00 * * *",
        "once": false,
        "onceDelay": 0.1,
        "topic": "",
        "payload": "reset_hourly",
        "payloadType": "str",
        "x": 700,
        "y": 180,
        "wires": [
            [
                "d5f03abc92e5b379",
                "de82f3cc5d5aba65"
            ]
        ]
    },
    {
        "id": "d5f03abc92e5b379",
        "type": "function",
        "z": "86c1cce0024c0f35",
        "name": "function 6",
        "func": "// ล้างข้อมูลรายชั่วโมง\ncontext.set(\"hourData\", {});\ncontext.set(\"lastHour\", null);\n\n// สั่งล้างกราฟ Hourly Summary\nmsg.ui_control = { clear: true };\n\n// ไม่ต้องส่ง payload\nreturn msg;",
        "outputs": 1,
        "timeout": 0,
        "noerr": 0,
        "initialize": "",
        "finalize": "",
        "libs": [],
        "x": 940,
        "y": 180,
        "wires": [
            [
                "7a9901166c5bf714"
            ]
        ]
    },
    {
        "id": "de82f3cc5d5aba65",
        "type": "function",
        "z": "86c1cce0024c0f35",
        "name": "function 7",
        "func": "context.set(\"daily_max\", null);\ncontext.set(\"daily_min\", null);\ncontext.set(\"daily_sum\", 0);\ncontext.set(\"daily_count\", 0);\n\nmsg.payload = {\n    max: \"-\",\n    min: \"-\",\n    avg: \"-\"\n};\n\nreturn msg;\n",
        "outputs": 1,
        "timeout": 0,
        "noerr": 0,
        "initialize": "",
        "finalize": "",
        "libs": [],
        "x": 920,
        "y": 240,
        "wires": [
            [
                "b473d0e706690651"
            ]
        ]
    },
    {
        "id": "bb1d84aea548f1d1",
        "type": "function",
        "z": "86c1cce0024c0f35",
        "name": "Daily Aggregator",
        "func": "var value = Number(msg.payload);\nvar topic = msg.topic; // PM1 | PM2.5 | PM10\nif (isNaN(value)) return null;\n\n// key ของวัน\nvar now = new Date();\nvar dayKey = now.getFullYear() + \"-\" +\n             (now.getMonth()+1) + \"-\" +\n             now.getDate();\n\nvar data = context.get(\"dayData\") || {};\nvar current = data[dayKey] || {\n    PM1:  { sum: 0, count: 0 },\n    PM25: { sum: 0, count: 0 },\n    PM10: { sum: 0, count: 0 }\n};\n\nif (topic === \"PM1\") {\n    current.PM1.sum += value;\n    current.PM1.count++;\n}\nelse if (topic === \"PM2.5\") {\n    current.PM25.sum += value;\n    current.PM25.count++;\n}\nelse if (topic === \"PM10\") {\n    current.PM10.sum += value;\n    current.PM10.count++;\n}\n\ndata[dayKey] = current;\ncontext.set(\"dayData\", data);\n\n// รอจนกว่าจะรีเซ็ตตอนเที่ยงคืน\nreturn null;",
        "outputs": 1,
        "timeout": 0,
        "noerr": 0,
        "initialize": "",
        "finalize": "",
        "libs": [],
        "x": 890,
        "y": 300,
        "wires": [
            []
        ]
    },
    {
        "id": "ce5bfa2906833dc9",
        "type": "function",
        "z": "86c1cce0024c0f35",
        "name": "Daily → Monthly",
        "func": "var data = context.get(\"dayData\") || {};\nvar keys = Object.keys(data);\nif (keys.length === 0) return null;\n\n// เอาวันล่าสุด\nvar dayKey = keys[keys.length - 1];\nvar d = data[dayKey];\n\nvar avgPM1 = d.PM1.count ? (d.PM1.sum / d.PM1.count).toFixed(1) : 0;\nvar avgPM25 = d.PM25.count ? (d.PM25.sum / d.PM25.count).toFixed(1) : 0;\nvar avgPM10 = d.PM10.count ? (d.PM10.sum / d.PM10.count).toFixed(1) : 0;\n\n// เก็บ monthly\nvar month = context.get(\"monthData\") || [];\nmonth.push({\n    date: dayKey,\n    PM1: avgPM1,\n    PM25: avgPM25,\n    PM10: avgPM10\n});\n\n// เก็บแค่ 30 วัน\nif (month.length > 30) month.shift();\ncontext.set(\"monthData\", month);\n\n// ล้าง daily\ncontext.set(\"dayData\", {});\n\n// timestamp เที่ยงคืนของวันนั้น\nvar ts = new Date(dayKey + \"T00:00:00\").getTime();\n\nreturn [[\n    { topic: \"PM1\", payload: Number(avgPM1), timestamp: ts },\n    { topic: \"PM2.5\", payload: Number(avgPM25), timestamp: ts },\n    { topic: \"PM10\", payload: Number(avgPM10), timestamp: ts }\n]];\n",
        "outputs": 1,
        "timeout": 0,
        "noerr": 0,
        "initialize": "",
        "finalize": "",
        "libs": [],
        "x": 880,
        "y": 120,
        "wires": [
            [
                "045de5d3636534cd"
            ]
        ]
    },
    {
        "id": "045de5d3636534cd",
        "type": "ui_chart",
        "z": "86c1cce0024c0f35",
        "name": "",
        "group": "2cfe40492fdff9da",
        "order": 2,
        "width": 0,
        "height": 0,
        "label": "30 Day Summary",
        "chartType": "line",
        "legend": "true",
        "xformat": "D/M",
        "interpolate": "linear",
        "nodata": "",
        "dot": true,
        "ymin": "0",
        "ymax": "100",
        "removeOlder": "30",
        "removeOlderPoints": "30",
        "removeOlderUnit": "86400",
        "cutout": 0,
        "useOneColor": false,
        "useUTC": false,
        "colors": [
            "#1f77b4",
            "#aec7e8",
            "#ff7f0e",
            "#2ca02c",
            "#98df8a",
            "#d62728",
            "#ff9896",
            "#9467bd",
            "#c5b0d5"
        ],
        "outputs": 1,
        "useDifferentColor": false,
        "className": "",
        "x": 1090,
        "y": 120,
        "wires": [
            []
        ]
    },
    {
        "id": "c3671298b0654062",
        "type": "inject",
        "z": "86c1cce0024c0f35",
        "name": "",
        "props": [
            {
                "p": "payload"
            }
        ],
        "repeat": "",
        "crontab": "00 00 * * *",
        "once": false,
        "onceDelay": 0.1,
        "topic": "",
        "payload": "daily",
        "payloadType": "str",
        "x": 690,
        "y": 60,
        "wires": [
            [
                "ce5bfa2906833dc9"
            ]
        ]
    }
]